body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-large;
}

.hdr {
  width: 100%;
  background-color: rgb(57, 120, 255);
  overflow: auto;
}

.hdr a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

.hdr a:hover {
  background-color: #000;
}

.active {
  background-color: #4CAF50;
}

@media screen and (max-width: 500px) {
  .hdr a {
    float: none;
    display: block;
  }
}

.hdr2 {
  width: 100%;
  color: white;
  background-color: rgb(6, 80, 240);
  overflow: auto;
  padding-top: 7px;
  padding-bottom: 7px;
}

.ftr {

  position: fixed;
  height: auto;
  bottom: 0%;
  width: 100%;
  list-style-type: none;
  background-color: rgb(6, 80, 240);
}