

/*déclaration de variables
:root{
	--colorbackgrd:#A8C5FF;		!presque blanc mais un peu gris
	--colortext:#121B2B; 		!presque noir mais pas totalement 
}
*/

/*-General----------------------------------------------------------------*/

body {
		background-color: #A8C5FF;
		color: #121B2B;
	}

/*-Adaptable--------------------------------------------------------------*/

@media (min-width: 426px){

	.texte {
	text-align: center;
	margin: 20px;
	}
}

@media (min-width: 1024px){

	h1 {

	}

	h2 {
		text-align: center;
	}

	.bordure {
		margin: 0 150px 0 150px;
		border-style: solid;
	}

	.grand_titre {
		text-align: center;
		margin: 40px;
	}

	.moyen_titre {
		text-align: center;
		margin: 20px;
	}

	.aspect_btn{
		text-align: center;
		padding: 12px 10px;
		margin: 5px 10px;
	}

	.texte {
		text-align: center;
		margin: 0 auto;
		float: none;
	}

	.liste {
		list-style:none;
		text-align: center;
		margin: 0 auto;
		float: none;

		padding: 30px;
		border-style: solid; 
	}

	.btn-primary {
         background-color: #1c87c9;
         border: none;
         color: white;
         padding: 20px 60px;
         text-align: center;
         text-decoration: none;
         display: inline-block;
         font-size: 20px;
         margin: 4px 2px;
         cursor: pointer;
    }

    .btn-secondaire {
         background-color: #1c87c9;
         border: none;
         color: white;
         padding: 20px 40px;
         text-align: center;
         text-decoration: none;
         display: inline-block;
         font-size: 20px;
         margin: 4px 2px;
         cursor: pointer;
    }

    .btn-tertiaire {
    	background-color: #1c87c9;
        border: none;
        color: white;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        margin: 4px 2px;
        cursor: pointer;
        float: right;
    }

    .barre {
    	display: inline;
    }

    .info_profil {
    	margin: 40px;
    }
}
